.nav li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.nav ul {
    display: inline-block;
}

.logo img{
   display: inline;
}
.logo {
    display: block;
    width: 600 px;
    align-content: center;
    text-align: center;
}
.nav {
    text-align: right;
 }

.search {
    text-align: center;
    align-content: center;
}
.search input {
    font-size: 1.05em;
}

#search {
    border-radius: 10px;
    border: 0;
    background-color: rgb(238, 237, 237);
}